<div padding-top text-center class="simple-tabs-wrapper">
  <ion-row class="no-padding">
    <ion-col width-30 class="no-padding" *ngFor="#simpleTab of simpleTabs, #i=index" [class.active]="simpleTab.active">
      <div class="simple-tab-common" (click)="selectTab(simpleTab)" [ngClass]="{'active-tab' : simpleTab.active, 'passive-tab' : !simpleTab.active}">
        <div class="simple-tab-common-text">
          {{simpleTab.simpleTabTitle}}
        </div>
      </div>
    </ion-col>
  </ion-row>
</div>
