.contest-chart-background {
  border-color: #28a54c;
  background-color: #ffe29b;
  padding-bottom: 5px !important;
}

.no-wrap-text {
  overflow: visible !important;
}

.button.join-contest {
  font-size: 90%;
  line-height: 1.2em;
  white-space: normal;
  height: 40px;
}

.pointer {
  cursor: pointer;
}

.contest-footer-text {
  text-decoration: underline;
  white-space: nowrap;
  font-size: 12px;
  color: #004d40;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.contest-animation-share-image {
  position: absolute;
  top : 6px;
  font-size: 45px;
}

.long-animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
