.contest-chart-background {
  border-color: #28a54c;
  background-color: #ffe29b;
  padding-bottom: 5px !important;
}

.no-wrap-text {
  overflow: visible !important;
}

.button-join-contest {
  font-size: 90%;
  line-height: 1.2em;
  white-space: normal;
  height: 40px;
}

.pointer {
  cursor: pointer;
}

.contest-footer-text {
  text-decoration: underline;
  white-space: nowrap;
  font-size: 12px;
  color: #004d40;
}

.contest-animation-share-image {
  position: absolute;
  top: 6px;
  font-size: 45px;
}

.long-animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.button-play-contest {
  background: #0dc9f9;
  background: -webkit-linear-gradient(#0dc9f9, #00fff0);
  background: linear-gradient(#0dc9f9, #00fff0);
  border: 1px solid #569;
  border-radius: 999px;
  box-shadow: 0 2px 0 0 #0a70a0;
  color: #fff;
  display: inline-block;
  padding: 8px 20px;
  font: normal 700 24px/1 "Calibri", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
}

.small-top-margin {
  margin-top: 20px !important;
}

.button-top-leaders {
  background: #a5b9f8;
  background: -webkit-linear-gradient(#a5b9f8, #a7b9f9);
  background: linear-gradient(#a5b9f8, #a7b9f9);
  border-radius: 50px;
  color: #000;
  display: inline-block;
  padding: 8px 20px;
  text-align: center;
  text-shadow: none;
  font-weight: bold;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px auto !important;
}

.contest-users {
  font-size: 12px;
}

.contest-creator {
  color: #387ef5;
}

.contest-started {
  font-size: 12px;
  font-weight: bolder;
}

.contest-participants-area {
  padding-top: 8px;
}

.contest-leader-area {
  background-color: #38355d;
}

.contest-leader-item {
  padding-left: 10px;
  padding-right: 10px;
}

.transparent-background {
  background-color: transparent;
}

.contest-leader-name {
  font-size: 12px;
  color: #83e8ff;
}

.contest-leader {
  font-size: 12px !important;
  font-weight: bolder !important;
  color: #ffffff !important;
}

.contest-leader-more {
  padding-top: 16px;
}

.bottom-like {
  width: 54px;
  height: 40px;
  background: url('../../images/ui/bottom_bar_like_default.png') bottom;
}

.bottom-like:hover {
  background: url('../../images/ui/bottom_bar_like_clicked.png') bottom;
}
