.invalid-input {
  color: #ffff00;
  font-weight: bolder;
}

.feature-locked-text {
  font-size: 14px;
  color: red;
}

.set-contest-label {
  font-size: 16px;
  color: #ffffff;
}

.date-picker-button {
  font-size: 16px;
  background-color: #847fd9;
  border: 1px solid #2c2c52;
  box-shadow: 0 2px 0 0 #2c2c52;
  color: #ffffff;
  display: inline-block;
  padding: 8px 20px;
  font: normal 700 20px/1 "Calibri", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #2c2c52;
}

.set-contest-range-input {
  margin-left: 10px;
  margin-right: 10px;
}

.set-contest-user-questions-area {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #69d2e7;
}

.set-contest-question-buttons {
  width: 60px;
  margin-right: -10px;
  margin-left: -10px;
}

.set-contest-user-questions-title {
  font-size: 14px !important;
  font-family: 'Helvetica Neue', 'Roboto', 'Segoe UI', 'sans-serif' !important;
  top: 16px !important;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.set-contest-user-questions-list {
  margin-top: 5px;
}

.small-horizontal-margin {
  margin-left: -5px;
  margin-right: -5px;
}

.set-contest-team {
  font-size: 20px;
}

.set-contest-against {
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
}
