.invalid-input {
  color: #ff0000;
}

.feature-locked-text {
  font-size: 14px;
  color: red;
}

.contest-or-between-teams {
  padding-top: 4px;
}

.set-contest-label {
  font-size: 16px;
  color: #808080;
}

.calendar-button {
  font-size: 16px;
}
