<ion-navbar app-top-bar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{title}}</ion-title>

</ion-navbar>

<ion-content class="app-bg">

  <h4 text-center>
    {{client.translate(client.settings.newContest.contestTypes[contestLocalCopy.type.id].title)}}
  </h4>

  <div padding *ngIf="client.session.features.newContest.locked">
    <span class="feature-locked-text">{{client.translate('FEATURE_LOCKED_NEW_CONTEST', {rank : client.session.features.newContest.unlockRank}) }}</span>
    <button class="button button-full button-small app-button-light-blue"
            (click)="buyNewContestUnlockKey(false)" [disabled]="buyInProgress">
      {{client.translate('UNLOCK_FEATURE', {formattedCost :
      client.session.features.newContest.purchaseData.formattedCost}) }}
    </button>
    <button class="button button-full button-small app-button-light-purple"
            *ngIf="client.user.clientInfo.platform ==='facebook' && client.session.features.newContest.purchaseData.mobilePricepointId"
            (click)="buyNewContestUnlockKey(true)" [disabled]="buyInProgress">
      {{client.translate('UNLOCK_FEATURE_MOBILE', {cost : client.session.features.newContest.purchaseData.cost, currency
      : client.session.features.newContest.purchaseData.currencySymbol}) }}
    </button>
  </div>

  <form [ngFormModel]="contestForm" name="contestForm" novalidate="novalidate">

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="text"
                     class="set-contest-team"
                     ngControl="team0"
                     [(ngModel)]="contestLocalCopy.teams[0].name"
                     placeholder="{{client.translate('TEAM0')}}"
                     maxlength="15"
                     [disabled]="client.session.features.newContest.locked">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col width-10>
        <div padding-top class="set-contest-against" text-center>{{client.translate('AGAINST')}}</div>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input type="text"
                     class="set-contest-team"
                     ngControl="team1"
                     [(ngModel)]="contestLocalCopy.teams[1].name"
                     placeholder="{{client.translate('TEAM1')}}"
                     maxlength="15"
                     [disabled]="client.session.features.newContest.locked">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-40>
        <div text-center *ngIf="(team0.dirty || submitted) && team0.errors && team0.errors.required"
             class="invalid-input">
          {{client.translate('FIELD_REQUIRED')}}
        </div>
      </ion-col>
      <ion-col>
        <div text-center
             *ngIf="(contestForm.dirty || submitted) && contestForm.errors && contestForm.errors.matchingTeams"
             class="invalid-input">
          {{client.translate('SERVER_ERROR_TEAMS_MUST_HAVE_DIFFERENT_NAMES_MESSAGE')}}
        </div>
      </ion-col>
      <ion-col width-40>
        <div text-center *ngIf="(team1.dirty || submitted) && team1.errors && team1.errors.required"
             class="invalid-input">
          {{client.translate('FIELD_REQUIRED')}}
        </div>
      </ion-col>
    </ion-row>

    <div *ngIf="params.data.mode==='add'">
      <ion-item no-lines class="transparent-background">
        <ion-label class="base-font">{{client.translate('ENDS_IN')}}</ion-label>
        <ion-select class="base-font" multiple="false" no-lines [(ngModel)]="contestLocalCopy.endOption"
                    okText="{{client.translate('OK')}}"
                    cancelText="{{client.translate('CANCEL')}}"
                    (change)="client.logEvent('newContest/endsIn/change')"
                    (click)="client.logEvent('newContest/endsIn/click',{'endsIn': contestLocalCopy.endOption})">
          <ion-option *ngFor="#endOptionKey of endOptionKeys"
                      value="{{client.settings.newContest.endOptions[endOptionKey].value}}"
                      checked="contestLocalCopy.endOption===client.settings.newContest.endOptions[endOptionKey].value">
            {{client.translate(client.settings.newContest.endOptions[endOptionKey].units, {number:
            client.settings.newContest.endOptions[endOptionKey].number}) }}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div padding *ngIf="params.data.mode==='edit'">
      <span class="set-contest-label">{{client.translate('CONTEST_END')}}</span>
      <date-picker [(currentDateEpoch)]="contestLocalCopy.endDate" [(minDate)]="minContestEnd"
                   [(minDate)]="minContestStart"
                   [(maxDate)]="maxContestEnd"
                   [currentDateClass]="'date-picker-button'"
                   (dateSelected)="endDateSelected($event)">
      </date-picker>
    </div>

    <div class="set-contest-user-questions-label-{{client.currentLanguage.direction}}" *ngIf="contestLocalCopy.type.id === 'userTrivia'">
      <ion-row>
        <ion-col>
          <div padding-top padding-bottom class="set-contest-user-questions-title">{{client.translate('MY_CONTEST_QUESTIONS',{count : (contestLocalCopy.type.questions ? contestLocalCopy.type.questions.visibleCount : 0)}) }}</div>
        </ion-col>
        <ion-col>
          <div [ngStyle]="{'float' : client.currentLanguage.oppositeAlign}">
            <button
              (click)="openQuestionEditor('add')"
              class="set-contest-question-buttons">
              <ion-icon class="set-contest-add-icon" name="add-circle"></ion-icon>
              {{client.translate('ADD')}}
            </button>
            <button
              class="set-contest-question-buttons"
              (click)="openSearchQuestions()"
              title="{{client.translate('SEARCH')}}">
              <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
      <div padding-left padding-right *ngIf="contestLocalCopy.type.questions && contestLocalCopy.type.questions.visibleCount > 0" class="set-contest-user-questions-area">
        <div class="set-contest-user-questions-list small-horizontal-margin">
          <ion-list>
            <ion-row style="height: 40px" *ngFor="#question of contestLocalCopy.type.questions.list, #i=index" [hidden]="question.deleted">
              <ion-col width-90>
                <div title="{{client.translate('EDIT_QUESTION')}}" class="base-font pointer"
                     (click)="openQuestionEditor('edit', question)">
                  {{question.text}}
                </div>
              </ion-col>
              <ion-col width-10>
                <button class="set-contest-question-buttons" (click)="removeQuestion(i)">
                  <ion-icon title="{{client.translate('REMOVE_QUESTION')}}" name="close-circle">
                  </ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-list>
        </div>
      </div>
    </div>

    <div padding-left padding-right class="invalid-input"
         *ngIf="submitted && contestLocalCopy.type.id === 'userTrivia' && userQuestionsInvalid">
      {{userQuestionsInvalid}}
    </div>

    <div *ngIf="client.session.isAdmin" padding>
      <button [disabled]="!contestLocalCopy.teams[0].name || !contestLocalCopy.teams[1].name" (click)="setAdminInfo()" class="button-small app-button-light-purple">{{client.translate('CONTEST_ADMIN_INFO')}}</button>
    </div>

    <div padding>
      <button (click)="setContest()" class="app-button-light-blue" block>{{client.translate('OK')}}</button>
    </div>
  </form>

</ion-content>
