.invalid-input {
  color: #ff0000;
}

.feature-locked-text {
  font-size: 14px;
  color: red;
}

.set-contest-label {
  font-size: 16px;
}

.calendar-button {
  font-size: 16px;
}

.set-contest-range-input {
  margin-left: 10px;
  margin-right: 10px;
}

.set-contest-user-questions-area {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #69d2e7;
}

.set-contest-question-buttons {
  width: 60px;
  margin-right: -10px;
  margin-left: -10px;
}

.set-contest-user-questions-title {
  font-size: 14px !important;
  font-family: 'Helvetica Neue', 'Roboto', 'Segoe UI', 'sans-serif' !important;
  top: 16px !important;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.set-contest-user-questions-list {
  margin-top: 5px;
}

.small-horizontal-margin {
  margin-left: -5px;
  margin-right: -5px;
}

.set-contest-team {
  font-size: 20px;
}

.set-contest-against {
  font-size: 14px;
  color: #c2c2c2;
}
