<ion-navbar app-top-bar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{getTitle()}}</ion-title>

</ion-navbar>

<ion-content class="app-bg">

  <h4 text-center>
    {{client.translate(client.settings.newContest.contestTypes[contestLocalCopy.type.id].title)}}
  </h4>

  <div padding *ngIf="client.session.features.newContest.locked">
    <span class="feature-locked-text">{{client.translate('FEATURE_LOCKED_NEW_CONTEST', {rank : client.session.features.newContest.unlockRank}) }}</span>
    <button class="button button-full button-small app-button-light-blue"
            (click)="buyNewContestUnlockKey(false)" [disabled]="buyInProgress">
      {{client.translate('UNLOCK_FEATURE', {formattedCost :
      client.session.features.newContest.purchaseData.formattedCost}) }}
    </button>
    <button class="button button-full button-small app-button-light-purple"
            *ngIf="client.user.clientInfo.platform ==='facebook' && client.session.features.newContest.purchaseData.mobilePricepointId"
            (click)="buyNewContestUnlockKey(true)" [disabled]="buyInProgress">
      {{client.translate('UNLOCK_FEATURE_MOBILE', {cost : client.session.features.newContest.purchaseData.cost, currency
      : client.session.features.newContest.purchaseData.currencySymbol}) }}
    </button>
  </div>

  <form [ngFormModel]="contestForm" name="contestForm" novalidate="novalidate">

    <ion-row>
      <ion-col width-40>
        <ion-item>
          <ion-input type="text"
                     class="set-contest-team"
                     ngControl="team0"
                     [(ngModel)]="contestLocalCopy.teams[0].name"
                     placeholder="{{client.translate('TEAM0')}}"
                     maxlength="15"
                     [disabled]="client.session.features.newContest.locked">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col width-20>
        <div padding-top class="set-contest-against" text-center>{{client.translate('AGAINST')}}</div>
      </ion-col>
      <ion-col width-40>
        <ion-item>
          <ion-input type="text"
                     class="set-contest-team"
                     ngControl="team1"
                     [(ngModel)]="contestLocalCopy.teams[1].name"
                     placeholder="{{client.translate('TEAM1')}}"
                     maxlength="15"
                     [disabled]="client.session.features.newContest.locked">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-40>
        <div text-center *ngIf="(team0.dirty || submitted) && team0.errors && team0.errors.required" class="invalid-input">
          {{client.translate('FIELD_REQUIRED')}}
        </div>
      </ion-col>
      <ion-col>
        <div text-center *ngIf="(contestForm.dirty || submitted) && contestForm.errors && contestForm.errors.matchingTeams"
             class="invalid-input">
          {{client.translate('SERVER_ERROR_TEAMS_MUST_HAVE_DIFFERENT_NAMES_MESSAGE')}}
        </div>
      </ion-col>
      <ion-col width-40>
        <div text-center *ngIf="(team1.dirty || submitted) && team1.errors && team1.errors.required" class="invalid-input">
          {{client.translate('FIELD_REQUIRED')}}
        </div>
      </ion-col>
    </ion-row>

    <div *ngIf="params.data.mode==='add'">
      <ion-item no-lines class="transparent-background">
        <ion-label class="base-font">{{client.translate('ENDS_IN')}}</ion-label>
        <ion-select class="base-font" multiple="false" no-lines [(ngModel)]="contestLocalCopy.endOption"
                    okText="{{client.translate('OK')}}"
                    cancelText="{{client.translate('CANCEL')}}"
                    (change)="client.logEvent('newContest/endsIn/change')"
                    (click)="client.logEvent('newContest/endsIn/click',{'endsIn': contestLocalCopy.endOption})">
          <ion-option *ngFor="#endOptionKey of endOptionKeys"
                      value="{{client.settings.newContest.endOptions[endOptionKey].value}}"
                      checked="contestLocalCopy.endOption===client.settings.newContest.endOptions[endOptionKey].value">
            {{client.translate(client.settings.newContest.endOptions[endOptionKey].units, {number: client.settings.newContest.endOptions[endOptionKey].number}) }}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div padding *ngIf="params.data.mode==='edit'">
      <span class="set-contest-label">{{client.translate('CONTEST_END')}}</span>
      <date-picker [(currentDateEpoch)]="contestLocalCopy.endDate" [(minDate)]="minContestEnd" [(maxDate)]="maxContestEnd"
                   [currentDateClass]="'date-picker-button'"
                   (dateSelected)="endDateSelected($event)">
      </date-picker>
    </div>

    <ion-item no-lines class="set-contest-user-questions-area"
              *ngIf="contestLocalCopy.type.id === 'userTrivia'">
      <ion-row class="full-width">
        <ion-col>
          <button danger
                  class="set-contest-question-buttons button-small"
                  [ngStyle]="{'float' : client.currentLanguage.align}"
                  (click)="openQuestionEditor('add')">
            {{client.translate('ADD')}}
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <div padding-left padding-right>
              <span class="set-contest-user-questions-title">
                  {{client.translate('MY_CONTEST_QUESTIONS',{count : (contestLocalCopy.type.questions ? contestLocalCopy.type.questions.visibleCount : 0)}) }}
              </span>
          </div>
        </ion-col>
        <ion-col>
          <button danger
                  class="set-contest-question-buttons button-small"
                  [ngStyle]="{'float' : client.currentLanguage.oppositeAlign}"
                  (click)="openSearchQuestions()">
            {{client.translate('SEARCH')}}
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <div class="set-contest-user-questions-list small-horizontal-margin"
           *ngIf="contestLocalCopy.type.questions && contestLocalCopy.type.questions.visibleCount > 0">
        <ion-list>
          <ion-row *ngFor="#question of contestLocalCopy.type.questions.list, #i=index" [hidden]="question.deleted">
            <ion-col width-90>
              <div title="{{client.translate('EDIT_QUESTION')}}" class="pointer"
                   (click)="openQuestionEditor('edit', question)">
                {{question.text}}
              </div>
            </ion-col>
            <ion-col width-10>
              <button (click)="removeQuestion(i)">
                <ion-icon title="{{client.translate('REMOVE_QUESTION')}}" name="close-circle">
                </ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-list>
      </div>

    </ion-item>

    <div padding-left padding-right class="invalid-input"
         *ngIf="submitted && contestLocalCopy.type.id === 'userTrivia' && userQuestionsInvalid">
      {{userQuestionsInvalid}}
    </div>

    <div padding class="set-contest-label base-font" *ngIf="client.session.isAdmin">
      <span class="pointer" (click)="toggleAdminInfo()">{{client.translate('CONTEST_ADMIN_INFO')}} {{getArrowDirection(!showAdminInfo)}}</span>
      <div *ngIf="showAdminInfo && contestForm.valid">

        <div padding *ngIf="showStartDate">
          <span>{{client.translate('CONTEST_START')}}</span>
          <date-picker [(currentDateEpoch)]="contestLocalCopy.startDate" [(minDate)]="minContestStart"
                       currentDateClass="date-picker-button"
                       (dateSelected)="startDateSelected($event)">
          </date-picker>
        </div>

        <ion-row>
          <ion-col width-40>
            <ion-item no-lines class="transparent-background">
              <ion-label class="set-contest-label" stacked>{{client.translate('TEAM_SCORE',{team: contestLocalCopy.teams[0].name} ) }}
              </ion-label>
              <ion-input class="base-font"
                         type="number"
                         [(ngModel)]="contestLocalCopy.teams[0].score"
                         min="1"
                         max="1000000000000">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col width-20>
          </ion-col>
          <ion-col width-40>
            <ion-item no-lines class="transparent-background">
              <ion-label class="set-contest-label" stacked>{{client.translate('TEAM_SCORE',{team: contestLocalCopy.teams[1].name} ) }}
              </ion-label>
              <ion-input class="base-font"
                         input type="number"
                         [(ngModel)]="contestLocalCopy.teams[1].score"
                         min="1"
                         max="1000000000000">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <div padding-left padding-right>
          <ion-item no-lines class="transparent-background">
            <ion-label class="set-contest-label" stacked>{{client.translate('RATING')}} (0-100): {{contestLocalCopy.manualRating}}</ion-label>
          </ion-item>
          <input class="set-contest-range-input" type="range" min="0" max="100"
                 [(ngModel)]="contestLocalCopy.manualRating" value="{{contestLocalCopy.manualRating}}">
        </div>

        <div padding-left padding-right padding-bottom>
          <ion-item no-lines class="transparent-background">
            <ion-label class="set-contest-label" stacked>{{client.translate('PARTICIPANTS')}}: {{contestLocalCopy.totalParticipants}}</ion-label>
          </ion-item>
          <input class="set-contest-range-input" type="range" min="{{contestLocalCopy.participants}}" max="10000"
                 [(ngModel)]="contestLocalCopy.totalParticipants" value="{{contestLocalCopy.totalParticipants}}">
        </div>

        <button padding-top class="button-small app-button-light-purple" (click)="removeContest()"
                *ngIf="showRemoveContest">{{client.translate('REMOVE_CONTEST')}}
        </button>

      </div>
    </div>

    <div padding>
      <button (click)="setContest()" class="app-button-light-blue" block>{{client.translate('OK')}}</button>
    </div>
  </form>
</ion-content>
