.button-play-contest {
  background: #0dc9f9;
  background: -webkit-linear-gradient(#01cefd, #01a1f9);
  background: linear-gradient(#01cefd, #01a1f9);
  border: 1px solid #8dfffc;
  border-radius: 999px;
  box-shadow: 0 2px 0 0 #0a70a0;
  color: #f7ffff;
  display: inline-block;
  padding: 8px 20px;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 0 #032c30;
  height: 40px;
  text-transform: none !important;
}

.contest-list-play-button-container {
  height: 0px;
}
