.player-info-ltr {
  position: absolute;
  top: 0px;
  right: 0px;
}

.player-info-rtl {
  position: absolute;
  top: 0px;
  left: 0px;
}

.player-info-avatar {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px
}

.player-info-canvas-ltr {
  position: absolute;
  right: 45px;
}

.player-info-canvas-rtl {
  position: absolute;
  left: 45px;
}

.my-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.app-bg {
  background-image: url('../../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.app-menu-item {
  background-color: transparent;
  color: #ffffff !important;
  font-weight: bold !important;
}

.base-font {
  color: #ffffff !important;
}

.app-button-light-blue {
  background-color: #61c2ec;
  border: 1px solid #1c78a9;
  border-radius: 15px;
  box-shadow: 0 2px 0 0 #1c78a9;
  color: #ffffff;
  display: inline-block;
  padding: 8px 20px;
  font: normal 700 20px/1 "Roboto", "Helvetica Neue", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #1c78a9;
}

.app-button-light-purple {
  background-color: #847fd9;
  border: 1px solid #2c2c52;
  border-radius: 15px;
  box-shadow: 0 2px 0 0 #2c2c52;
  color: #ffffff;
  display: inline-block;
  padding: 8px 20px;
  font: normal 700 20px/1 "Roboto", "Helvetica Neue", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #2c2c52;
}

.select-text {
  padding-left: 10px;
}

.app-menu-button {
  font-size: 16px;
}

.app-menu-icon-ltr {
  padding-right: 14px !important;
}

.app-menu-icon-rtl {
  padding-left: 16px !important;
}

.app-smaller-title {
  font-size: 18px !important;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px auto !important;
}

.no-wrap-text {
  overflow: visible !important;
}

.pointer {
  cursor: pointer;
}

.app-alert-title-ltr {
  float: left;
  text-align: left;
}

.app-alert-title-rtl {
  float: right;
  text-align: right;
}

.refresher-pulling-icon {
  color: #ffffff;
}

.refresher-pulling-text {
  color: #ffffff;
}

.app-link {
  color: #00ffff;
  cursor: pointer;
  text-decoration: underline;
}

.toolbar-new-contest-ltr {
  margin-left: -10px;
}

.toolbar-new-contest-rtl {
  margin-right: -10px;
}
