.center {
  text-align: center;
}

.quiz-canvas {
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.question-text {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  z-index: 1 !important;
  -webkit-transform: translateZ(0) !important;
}

.pointer {
  cursor: pointer;
}

.button.item.quiz-answer {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1em;
}

.blink {
  -webkit-animation-name: blink;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: step-end;
  -webkit-animation-iteration-count: 2;
  animation-name: blink;
  anmation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: 2;
}

@-webkit-keyframes blink {
  50% {
    visibility: hidden
  }
  100% {
    visibility: visible;
  }
}

@keyframes blink {
  50% {
    visibility: hidden
  }
  100% {
    visibility: visible;
  }
}

