<ion-navbar app-top-bar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{title}}</ion-title>

</ion-navbar>

<ion-content class="app-bg">

  <canvas id="quizCanvas" height="{{client.settings.quiz.canvas.size.height}}" class="quiz-canvas"
          (click)="canvasClick($event)" [ngStyle]="{'height': client.settings.quiz.canvas.size.height + 'px'}">
  </canvas>

  <div *ngIf="quizData" dir="{{quizData.currentQuestion.direction}}"
       [transitioned]
       [ngClass]="{'animated' : quizData.currentQuestion.doAnimation,
                        'bounceInLeft' : quizData.currentQuestion.doAnimation && client.currentLanguage.direction==='ltr',
                        'bounceInRight' : quizData.currentQuestion.doAnimation && client.currentLanguage.direction==='rtl'}"
       (transitionEnd)="questionTransitionEnd($event)">

    <div class="question-text" padding text-center
         [ngClass]="{'pointer' : client.session.isAdmin}"
         (click)="client.session.isAdmin && openQuestionEditor()"
         [innerHtml]="quizData.currentQuestion.text">
    </div>

    <ion-list padding>
      <button [animated]
              *ngFor="#answer of quizData.currentQuestion.answers, #i=index"
              id="buttonAnswer{{i}}"
              name="buttonAnswer{{i}}"
              [disabled]="quizData.currentQuestion.answered && answer.correct==null && answer.answeredCorrectly==null"
              class="button-full item-text-wrap quiz-answer pointer"
              [ngClass]="{
                            'button-answer-default': !quizData.currentQuestion.answered,
                            'button-answer-clicked' : quizData.currentQuestion.answered && answer.answeredCorrectly == null && answer.correct == null,
                            'blink' : answer.answeredCorrectly == true || answer.correct == true || (answer.answeredCorrectly == false && answer.correct == null),
                            'button-answer-correct' : answer.answeredCorrectly == true || answer.correct == true,
                            'button-answer-wrong' : answer.answeredCorrectly == false && answer.correct == null}"
              (click)="!quizData.currentQuestion.answered && submitAnswer(i)"
              (animationEnd)="buttonAnimationEnded($event)"
              [innerHtml]="answer.text">
      </button>

    </ion-list>

  </div>

  <button light-blue fab class="app-fab-{{client.currentLanguage.align}}" (click)="share()">
    <ion-icon name="share"></ion-icon>
  </button>

</ion-content>
