<ion-toolbar app-top-bar>

  <ion-title>
    {{title}}
  </ion-title>

  <ion-buttons left>
    <button (click)="dismiss(false)">
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="app-bg">

  <form [ngFormModel]="questionEditorForm" name="questionEditorForm" novalidate="novalidate">

    <div padding-left padding-right padding-top>
      <div padding-bottom [ngClass]="{'hide-item': fieldInFocus>0}">
        <ion-textarea
          id="questionControl"
          rows="3"
          class="question-editor-input question-editor-question"
          placeholder="{{client.translate('QUESTION')}}"
          [(ngModel)]="question.text"
          ngControl="questionControl"
          ngMaxlength="client.settings.quiz.question.maxLength"
          (focus)="inputFocus(0)"
          (blur)="inputBlur()"
          required>
        </ion-textarea>
        <div [ngStyle]="{'float': client.currentLanguage.oppositeAlign}"
             class="question-editor-question-characters-length">
          {{question.text ? question.text.length : 0}}/{{client.settings.quiz.question.maxLength}}
        </div>
        <div
          *ngIf="(questionControl.dirty || submitted) && (questionControl.errors && questionControl.errors.required || questionError)">
          <div *ngIf="questionControl.errors && questionControl.errors.required" padding-left padding-right text-center
               class="invalid-input">
            {{client.translate('FIELD_REQUIRED')}}
          </div>
          <div *ngIf="questionError" padding-left padding-right text-center
               class="invalid-input">
            {{questionError}}
          </div>
        </div>
      </div>

      <div [ngClass]="{'hide-item': fieldInFocus>1}">
        <ion-textarea
          id="answer0Control"
          rows="2"
          class="question-editor-input question-editor-correct-answer"
          placeholder="{{client.translate('CORRECT_ANSWER')}}"
          [(ngModel)]="question.answers[0]"
          ngControl="answer0Control"
          ngMaxlength="client.settings.quiz.question.answer.maxLength"
          (focus)="inputFocus(1)"
          (blur)="inputBlur()"
          required>
        </ion-textarea>
        <div [ngStyle]="{'float': client.currentLanguage.oppositeAlign}"
             class="question-editor-answer-characters-length">
          {{question.answers[0] ? question.answers[0].length : 0}}/{{client.settings.quiz.question.answer.maxLength}}
        </div>
        <div *ngIf="(answer0Control.dirty || submitted) && answer0Control.errors && answer0Control.errors.required">
          <div padding-left padding-right text-center
               class="invalid-input">
            {{client.translate('FIELD_REQUIRED')}}
          </div>
        </div>
      </div>

      <div class="small-padding-top" [ngClass]="{'hide-item': fieldInFocus>2}">

        <ion-textarea
          id="answer1Control"
          rows="2"
          class="question-editor-input question-editor-wrong-answer"
          placeholder="{{client.translate('WRONG_ANSWER')}}"
          [(ngModel)]="question.answers[1]"
          ngControl="answer1Control"
          ngMaxlength="client.settings.quiz.question.answer.maxLength"
          (focus)="inputFocus(2)"
          (blur)="inputBlur()"
          required>
        </ion-textarea>
        <div [ngStyle]="{'float': client.currentLanguage.oppositeAlign}"
             class="question-editor-answer-characters-length">
          {{question.answers[1] ? question.answers[1].length : 0}}/{{client.settings.quiz.question.answer.maxLength}}
        </div>
        <div *ngIf="(answer1Control.dirty || submitted) && answer1Control.errors && answer1Control.errors.required">
          <div padding-left padding-right text-center
               class="invalid-input">
            {{client.translate('FIELD_REQUIRED')}}
          </div>
        </div>
      </div>

      <div class="small-padding-top" [ngClass]="{'hide-item': fieldInFocus>3}">

        <ion-textarea
          id="answer2Control"
          rows="2"
          class="question-editor-input question-editor-wrong-answer"
          placeholder="{{client.translate('WRONG_ANSWER')}}"
          [(ngModel)]="question.answers[2]"
          ngControl="answer2Control"
          ngMaxlength="client.settings.quiz.question.answer.maxLength"
          (focus)="inputFocus(3)"
          (blur)="inputBlur()"
          required>
        </ion-textarea>
        <div [ngStyle]="{'float': client.currentLanguage.oppositeAlign}"
             class="question-editor-answer-characters-length">
          {{question.answers[2] ? question.answers[2].length : 0}}/{{client.settings.quiz.question.answer.maxLength}}
        </div>
        <div *ngIf="(answer2Control.dirty || submitted) && answer2Control.errors && answer2Control.errors.required">
          <div padding-left padding-right text-center
               class="invalid-input">
            {{client.translate('FIELD_REQUIRED')}}
          </div>
        </div>
      </div>

      <div class="small-padding-top" [ngClass]="{'hide-item': fieldInFocus>4}">

        <ion-textarea
          id="answer3Control"
          rows="2"
          class="question-editor-input question-editor-wrong-answer"
          placeholder="{{client.translate('WRONG_ANSWER')}}"
          [(ngModel)]="question.answers[3]"
          ngControl="answer3Control"
          ngMaxlength="client.settings.quiz.question.answer.maxLength"
          (focus)="inputFocus(4)"
          (blur)="inputBlur()"
          required>
        </ion-textarea>
        <div [ngStyle]="{'float': client.currentLanguage.oppositeAlign}"
             class="question-editor-answer-characters-length">
          {{question.answers[3] ? question.answers[3].length : 0}}/{{client.settings.quiz.question.answer.maxLength}}
        </div>
        <div
          *ngIf="(answer3Control.dirty || submitted) && (answer3Control.errors && answer3Control.errors.required || answersError)">
          <div *ngIf="(answer3Control.errors && answer3Control.errors.required) && !answersError" padding-left
               padding-right
               padding-bottom class="invalid-input">
            {{client.translate('FIELD_REQUIRED')}}
          </div>
          <div *ngIf="answersError && !(answer3Control.errors && answer3Control.errors.required)" padding-left
               padding-right
               padding-bottom class="invalid-input">
            {{answersError}}
          </div>
        </div>
      </div>

      <div>
        <span class="question-editor-answers-note">
          {{client.translate('RANDOM_ANSWERS_NOTE')}}
        </span>
      </div>

      <div padding class="question-editor-set-button">
        <button block class="app-button-light-purple"
                (click)="dismiss(true)">{{client.translate('OK')}}
        </button>
      </div>
    </div>

  </form>
</ion-content>
