
<!-- left menu -->
<ion-menu [content]="content">

  <ion-toolbar *ngIf="client.loaded">
    <ion-title>{{client.translate('TOOLS')}}</ion-title>
  </ion-toolbar>

  <ion-content>

    <ion-list *ngIf="client.loaded" dir="{{client.currentLanguage.direction}}">

      <button ion-item (click)="share()">
        <icon name="share-alt"></icon>
        {{client.translate('SHARE_WITH_FRIENDS_TITLE')}}
      </button>

    </ion-list>
  </ion-content>

</ion-menu>


<!-- main navigation -->
<ion-nav id="nav" [root]="root" #content swipe-back-enabled="false"></ion-nav>


<!-- where popups/actionsheets/modals are added -->
<ion-overlay></ion-overlay>
