<!-- left menu -->
<ion-menu *ngIf="client.loaded && client.currentLanguage.direction==='ltr'" [content]="content" side="left">

  <ion-toolbar light-blue *ngIf="client.loaded">
    <ion-title>{{client.translate('TOOLS')}}</ion-title>
  </ion-toolbar>

  <ion-content class="app-bg">

    <ion-list *ngIf="client.loaded" dir="{{client.currentLanguage.direction}}">
      <button class="app-menu-item" menuClose ion-item (click)="client.openNewContest()">
        <ion-icon name="add"></ion-icon>
        {{client.translate('NEW_CONTEST')}}
      </button>
      <button class="app-menu-item" menuClose ion-item (click)="share()">
        <ion-icon name="share-alt"></ion-icon>
        {{client.translate('SHARE_WITH_FRIENDS_TITLE')}}
      </button>
      <button class="app-menu-item" menuClose ion-item (click)="settings()">
        <ion-icon name="settings"></ion-icon>
        {{client.translate('SETTINGS')}}
      </button>
      <button class="app-menu-item" *ngIf="client.session && client.session.isAdmin" menuClose ion-item (click)="systemTools()">
        <ion-icon name="hammer"></ion-icon>
        {{client.translate('SYSTEM_TOOLS')}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- right menu -->
<ion-menu *ngIf="client.loaded && client.currentLanguage.direction==='rtl'" [content]="content" side="right">

  <ion-toolbar light-blue *ngIf="client.loaded">
    <ion-title>{{client.translate('TOOLS')}}</ion-title>
  </ion-toolbar>

  <ion-content class="app-bg">

    <ion-list *ngIf="client.loaded" dir="{{client.currentLanguage.direction}}">
      <button class="app-menu-item" menuClose ion-item (click)="client.openNewContest()">
        <ion-icon name="add"></ion-icon>
        {{client.translate('NEW_CONTEST')}}
      </button>
      <button class="app-menu-item" menuClose ion-item (click)="share()">
        <ion-icon name="share-alt"></ion-icon>
        {{client.translate('SHARE_WITH_FRIENDS_TITLE')}}
      </button>
      <button class="app-menu-item" menuClose ion-item (click)="settings()">
        <ion-icon name="settings"></ion-icon>
        {{client.translate('SETTINGS')}}
      </button>
      <button class="app-menu-item" *ngIf="client.session && client.session.isAdmin" menuClose ion-item (click)="systemTools()">
        <ion-icon name="hammer"></ion-icon>
        {{client.translate('SYSTEM_TOOLS')}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>


<!-- main navigation -->
<ion-nav id="nav" [root]="root" #content swipe-back-enabled="false">
</ion-nav>

<loading-modal id="loading"></loading-modal>

<div id="playerInfo" [hidden]="client.isMenuOpen">
  <img *ngIf="client.session" src="{{client.session.avatar}}"
       class="player-info-avatar pointer" (click)="client.popToRoot()">
  <div class="player-info-padding"></div>
  <canvas id="playerInfoRankCanvas">
  </canvas>
</div>
