<contest-chart-base id="{{id}}"
                    [(contest)]="contest"
                    (contestSelected)="onContestSelected($event)"
                    (teamSelected)="onContestSelected($event)">
</contest-chart-base>
<div text-center class="chart-bottom-area chart-bottom-ribbon" [ngStyle]="{'width': client.settings.charts.contest.size.width + 'px', 'height': client.settings.charts.contest.bottomRibbon.list + 'px'}">
  <div text-center class="chart-bottom-line-separator">
      <span class="chart-bottom-ribbon-participants-text" [ngStyle]="{'float': client.currentLanguage.oppositeAlign}">
        <span class="chart-bottom-ribbon-participants-number">{{contest.participants + contest.manualParticipants}}</span>
        {{client.translate('PARTICIPANTS')}}
      </span>
  </div>
</div>
<div class="contests-play-image-container">
  <img class="contests-play-image pointer"
       [ngStyle]="{'margin-left': -(client.settings.contestList.playButton.size/2) + 'px', 'margin-top': -(client.settings.charts.contest.size.height+client.settings.contestList.playButton.size+30)/2 + 'px'}"
       src="../images/ui/go_btn_default.png"
       width="{{client.settings.contestList.playButton.size}}"
       title="{{contest.name}}"
       (click)="onContestSelected($event)">
</div>
