<contest-chart-base id="{{id}}"
                    [(contest)]="contest"
                    (contestSelected)="onContestSelected($event)"
                    (teamSelected)="onTeamSelected($event)">
</contest-chart-base>
<div padding-top text-center class="chart-bottom-area"
     [ngStyle]="{'width': client.settings.charts.contest.size.width + 'px', 'height': client.settings.charts.contest.bottomRibbon.detailed + 'px'}">
  <div>
    <button class="button-play-contest no-wrap-text"
            (click)="onContestSelected($event)">{{playText}}
    </button>
  </div>
  <div text-center class="chart-bottom-line-separator small-top-margin">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-avatar item-left>
            <img src="{{contest.creator.avatar}}">
          </ion-avatar>
          <span style="white-space: pre">{{client.translate('CREATED_BY',{name : contest.creator.name})}}</span>
          <p>{{contest.time.start.text}}</p>
        </ion-item>
      </ion-col>
      <ion-col>
          <span class="chart-bottom-ribbon-participants-text"
                [ngStyle]="{'float': client.currentLanguage.oppositeAlign}">
            <span
              class="chart-bottom-ribbon-participants-number">{{contest.participants + contest.manualParticipants}}</span>
            <p>{{client.translate('PARTICIPANTS')}}</p>
          </span>
      </ion-col>
    </ion-row>
  </div>
</div>
