.chart {
  margin: 0px auto;
  position: relative;
}

.button-play-contest {
  background:    #0dc9f9;
  background:    -webkit-linear-gradient(#0dc9f9, #00fff0);
  background:    linear-gradient(#0dc9f9, #00fff0);
  border:        1px solid #569;
  border-radius: 999px;
  box-shadow:    0 2px 0 0 #0a70a0;
  color:         #fff;
  display:       inline-block;
  padding:       8px 20px;
  font:          normal 700 24px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px 0 #000;
}

.small-top-margin {
  margin-top: 20px !important;
}
