<div text-center padding-top class="no-margin" [ngStyle]="{'width': width + 'px'}">
  <div class="chart-top-ribbon">
    <img src="images/contest_top_{{client.currentLanguage.direction}}.png" class="chart-top-ribbon-image" [ngStyle]="{'width': width + 'px'}">
    <img src="images/timer_icon.png" class="chart-timer chart-timer-{{client.currentLanguage.direction}}"
         [ngStyle]="{'width': client.settings.charts.contest.timer.width + 'px'}">
    <span class="chart-type-title chart-type-title-{{client.currentLanguage.direction}}">{{client.translate(client.settings.newContest.contestTypes[contest.type.id].text.name)}}</span>
    <span class="chart-end-time chart-end-time-{{client.currentLanguage.direction}}">{{contest.time.end.text}}</span>
  </div>
  <div text-center class="chart">
    <div text-center class="chart-radius">
    </div>
    <div [attr.id]="id + '-container'"
         [ngStyle]="{'height': height + 'px'}">
    </div>
  </div>
  <div *ngIf="mode === 'list'">
    <div text-center class="chart-bottom-area chart-bottom-ribbon" [ngStyle]="{'height': client.settings.charts.contest.bottomRibbon.list + 'px'}">
      <div text-center class="chart-bottom-line-separator">
      <span class="chart-bottom-ribbon-participants-text" [ngStyle]="{'float': client.currentLanguage.oppositeAlign}">
        <span class="chart-bottom-ribbon-participants-number">{{contest.participants + contest.manualParticipants}}</span>
        {{client.translate('PARTICIPANTS')}}
      </span>
      </div>
    </div>
    <div class="center-image-container">
      <img class="contests-play-image pointer"
           [ngStyle]="{'margin-left': -(client.settings.contestList.playButton.size/2) + 'px', 'margin-top': -(height+client.settings.contestList.playButton.size+30)/2 + 'px'}"
           src="images/go.png"
           width="{{client.settings.contestList.playButton.size}}"
           title="{{contest.name.long}}"
           (click)="onContestSelected($event)">
    </div>
  </div>

</div>
