<ion-list inset>
  <ion-row *ngFor="#leader of leaders">
    <ion-col width-10>
      <h1 class="align-center">{{leader.rank}}</h1>
    </ion-col>
    <ion-col width-90>
      <ion-item divider class="contest-leader-background">
        <ion-avatar item-left>
          <img src="{{leader.avatar}}">
        </ion-avatar>
        <h2 class="leader-row1">{{leader.name}}</h2>
        <p class="leader-row2">{{leader.score}} {{ client.translate('SCORE') }}</p>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-list>
