<ion-toolbar app-top-bar>

  <ion-buttons>
    <button (click)="dismiss(false)">
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-buttons>

  <ion-title>
    {{client.translate('SEARCH_MY_QUESTIONS')}}
  </ion-title>

</ion-toolbar>

<ion-content class="app-bg">
  <ion-searchbar placeholder="{{client.translate('SEARCH')}}" [(ngModel)]="searchText" (input)="search($event)" cancelButtonText="{{client.translate('CANCEL')}}">
  </ion-searchbar>

  <ion-list>
    <ion-item no-lines *ngFor="#question of questions" class="transparent-background">
      <ion-label class="base-font">{{question.text}}</ion-label>
      <ion-checkbox [(ngModel)]="question.checked" light-purple></ion-checkbox>
    </ion-item>
  </ion-list>

  <div class="base-font" text-center padding *ngIf="searchText && (!questions || questions.length===0)">
    <h3><strong>{{client.translate('NO_RESULTS')}}</strong>
    </h3>
  </div>

  <div padding>
    <button *ngIf="questions && questions.length > 0" block class="app-button-light-purple"
            (click)="dismiss(true)">{{client.translate('OK')}}
    </button>
  </div>

</ion-content>

