<ion-toolbar app-top-bar>

  <ion-buttons>
    <button (click)="dismiss(null)">
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-buttons>

  <ion-title>
    {{client.translate('QUESTION_STATS_TITLE')}}
  </ion-title>

</ion-toolbar>

<ion-content class="app-bg">

  <div padding text-center dir="{{question.direction}}">
    <h5 class="center question-text" [innerHtml]="question.text"></h5>
  </div>

  <div padding-top text-center class="question-chart-container" *ngIf="chartDataSource" id="questionChart" [ngStyle]="{'width': client.settings.charts.questionStats.size.width + 30 + 'px'}">
  </div>

  <div padding-top text-center>

    <ion-buttons>
      <button padding *ngIf="question.wikipediaHint"
              class="button-small app-button-light-blue"
              (click)="dismiss('hint')">
        {{ client.translate('HINT_FOR_SCORE',{score : question.hintCost}) }}
      </button>
      <button padding *ngIf="question.wikipediaAnswer"
              class="button-small app-button-light-purple"
              (click)="dismiss('answer')">
        {{ client.translate('ANSWER_FOR_SCORE',{score : question.answerCost}) }}
      </button>
    </ion-buttons>
  </div>

</ion-content>

