.post-story-row-1 {
  font-size: 24px;
  font-weight: bolder;
  color: #ffffff;
}

.post-story-row-2 {
  font-size: 18px;
  font-weight: bolder;
  color: #73d9ff;
}

.button-facebook {
  background-color: #4c7fea;
  border: 1px solid #264da3;
  border-radius: 15px;
  box-shadow: 0 2px 0 0 #264da3;
  color: #ffffff;
  display: inline-block;
  padding: 8px 20px;
  font: normal 700 24px/1 "Calibri", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #264da3;
}

.button-not-now {
  font-size: 18px;
  color: #ffffff;
  font-width: bolder;
}
