.game-header {
  color: #ffffff;
  font-weight: bolder;
  padding-top: 20px;
  font-size: 32px;
}

.game-sub-header {
  color: #FFFFFF;
}

.bar-footer {
  bottom: 0 !important;
  position: absolute;
  border-top-width: 1px;
  border-bottom-width: 0;
  background-position: top;
  height: 20px;
}


.language {
  color: #000000;
  font-size: 80%;
  cursor: pointer;
  text-align: center;
}

.language:hover {
  text-decoration: underline;
}

.facebook-relax-message {
  font-size: 14px;
}

