.player-info-avatar-ltr {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 5px;
}

.player-info-avatar-rtl {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 5px;
}
