<ion-navbar app-top-bar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{client.translate('LIKE')}}</ion-title>

</ion-navbar>

<ion-content class="app-bg">

  <div text-center class="base-font">
    <h4 text-center *ngIf="!contest">{{client.translate('CLICK_LIKE')}}</h4>
    <div text-center *ngIf="contest">
      <h4>{{client.translate('CLICK_LIKE_WITH_CONTEST')}}</h4>
      <h2 padding>{{contest.name}}</h2>
    </div>

    <button class="button-facebook" (click)="like()">{{client.translate('FACEBOOK_GAME_PAGE')}}
    </button>

  </div>

</ion-content>
