<ion-toolbar app-top-bar>

  <ion-buttons>
    <button (click)="selectContestContent(null)">
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-buttons>

  <ion-title>
    {{client.translate('NEW_CONTEST')}}
  </ion-title>

</ion-toolbar>

<ion-content class="app-bg" dir="{{client.currentLanguage.direction}}">

  <div class="choose-contest-type-title" text-center padding-top padding-bottom>
    {{client.translate('SELECT_CONTEST_TYPE')}}
  </div>

  <div no-margin text-center>
    <ion-row *ngFor="#row of client.settings.newContest.selectableContestTypes, #i=index">
      <ion-col class="pointer" (click)="selectContestContent(contestTypeId)" *ngFor="#contestTypeId of client.settings.newContest.selectableContestTypes[i]">
        <div class="contest-type-title" [ngStyle]="{'color': client.settings.newContest.contestTypes[contestTypeId].text.titleColor}">
          {{client.translate(client.settings.newContest.contestTypes[contestTypeId].text.title)}}
          <img [ngStyle]="{'width': client.settings.newContest.contestTypes[contestTypeId].image.width + 'px', 'height': client.settings.newContest.contestTypes[contestTypeId].image.height + 'px'}"
               src="{{client.settings.newContest.contestTypes[contestTypeId].image.url}}">
          <div class="contest-type-description" text-center [ngStyle]="{'width': client.settings.newContest.contestTypes[contestTypeId].image.width + 'px'}">
            {{client.translate(client.settings.newContest.contestTypes[contestTypeId].text.description)}}
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
