.white-space-pre-line {
  white-space: pre-line !important;
}

.pointer {
  cursor: pointer;
}

.choose-contest-type-title {
  font-size: 28px;
  font-weight: bolder;
  color: #ffffff;
}

.contest-type-title {
  font-size: 22px;
}

.contest-type-description {
  font-size: 18px;
  color: #ffffff;
  margin: 0px auto;
}
