<div [ngStyle]="{'width' : width + 'px'}">
  <span padding class="pointer" (click)="toggleList()">
    <strong>{{ selectedItem.displayValue }} {{ getArrowDirection(true) }}</strong>
  </span>
  <div *ngIf="!hideList" class="list-popup">
    <ion-list radio-group>
      <ion-header>
        {{title}}
      </ion-header>

      <ion-radio *ngFor="#item of items" [checked]="true" [value]="item.value" (change)="value=$event.target.value">
        {{item.displayValue}}
      </ion-radio>

    </ion-list>
  </div>
</div>



